* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

section {
    padding: 4rem 0;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.hammasi {
    background-color: #1C3D5B;
}

#main-header {
    padding: 2rem 0;
    color: #fff;
    
    .logo {
        img {
            width: 25px;
            height: 33px;
        }
        h2 {
            font-size: 42px;
            font-weight: 700;
            margin-left: 0.5rem;
        }
    } 

    ul {
        margin-left: 48rem;

        li {
            padding-right: 2rem;
            font-size: 16px;
            
            a:hover {
                font-size: 17px;
            }
        }
    }

    .button {
        padding: 11px 35px;
        border-radius: 20px;
        border: none;
        background-color: #fff;
        color: #1C3D5B;
        font-size: 16px;
        font-weight: 700;

        &:hover {
            background-color: #69E6A6;
        }
    }
}

#menu {
    color: #fff;
    .portion {
        .box {
            padding: 12px 30px;
            border-radius: 19px;
            border: 2px solid #69E6A6;
            background-color: #69E6A6;
            color: #1C3D5B;
            margin-top:0.5rem ;
             a {
                font-size:16px ;
                font-weight:700 ;
            

             }
            &:hover {
                background-color: #1C3D5B;
                color: #69E6A6;
                border: 2px solid #fff;
            }
        }

        .box-2 {
            padding: 12px 30px;
            border-radius: 19px;
            border:2px solid #fff;
            color: #fff;
            background-color: #1C3D5B;
            margin-left: 1rem;
            a {
                font-size: 16px;
                font-weight: 700;
            }
        } 
        
        h1 {
            font-size: 48px;
            font-weight: 400;
            width: 490px;
        }
        p {
            font-size: 16px;
            font-weight:400;
            width: 490px;
            padding: 1.3rem 0;
        }

        
    }
    .portion-3 {
        padding-top: 2rem;
    }
}

#product {
    .portion-4 {
        h4 {
            color: grey;
            font-size:20px ;
            font-weight:400;
            text-align: center;
        }
        h2 {
            width:800px;
            margin: 0 auto;
            font-size:48px ;
            font-weight: 400;
            span {
                display: inline-block;
                margin-left: 9rem;
            }
        }

    }
    .your {
        margin-top: 3rem;
        h3 {
            font-size: 24px;
            font-weight: 400;
            padding: 0.7rem 0;

        }
        p {
            width: 230px;

        }
        .page {
            margin-top: 1rem;
          h4 {
            font-size: 20px;
            font-weight: 700;
          }
          img {
            width:18px ;
            height:18px;
            margin-left: 0.3rem;
          }
        }
        

    } 
}

.cover {
    margin-top: -7rem;
    h2 {
    width: 458px;
    font-size: 36px;
    font-weight: 400;
    }
    .main {
        padding: 15px 50px;
        background-color: #1C3D5B;
        color: #fff;
        border-radius: 15px;
        border: none;
        margin-top: 2rem;
        a {
            font-size:17px ;
            font-weight: 700;            
        }
    }
    ul {
        margin-top: 3rem;
        li {
            padding: 0.5rem;
            .square {
                 border: 1px solid #1C3D5B;
                background-color: #1C3D5B;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1rem;
            }
            img {
                width: 10px;
                height: 10px;
            }
        }
    }
}

.one {
    display: flex;
    flex-direction: column;
    margin-top: -6rem;
        h2  {
          width: 458px;
          font-size: 36px;
          font-weight: 400;
        }
        .cap {
            margin-top: 4rem;
            background-color: #1C3D5B;
            color: #fff;
        }
        button {
            padding: 23px 100px;
            display: flex;
            align-items: center;
            margin-top: 1.5rem;
            box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.397);
            border: none;
            background-color: #fff;
            border-radius: 5px;
            a {
                justify-content: flex-start;
            }
            img {
                margin-right:1rem ;
                margin-left: -5rem;
            }
        }
}

#about {
    background-color: #1C3D5B;
    .portion-8 {
        .yozuv {
            h2 {
                font-size: 48px;
                font-weight: 300;
                width: 680px;
                color: #fff;
            }
        }
        .katta {
            padding-top: 3rem;
            .dumaloq {
                width: 50px;
                height: 50px;
                background-color: #fff;
                border-radius: 50%;
                margin-right: 1rem;
            }
        }
    }
    .portion-9 {
        margin-top: 3rem;
        .card3 {
                width: 350px;
                height: 350px;
                background-color: #fff;
                border-radius: 7px;
                flex-direction: column;
                justify-content: space-around;
        
                p {
        
                    width: 240px;
                    font-size: 22px;
                    font-weight: 400px;
                    padding: 0.3rem 0;
                }
        
                .call {
                    .roc {
                        padding-right: 1rem;
        
                    }
        
                    .ciz {
                        h4 {
                            padding-bottom: 0.4rem;
                        }
                    }
                }
            }
        .card2{
                width: 350px;
                height: 390px;
                background-color: #fff;
                border-radius: 7px;
                flex-direction: column;
                justify-content: space-around;
        
                p {
        
                    width: 240px;
                    font-size: 22px;
                    font-weight: 400px;
                    padding: 0.3rem 0;
                }
        
                .call {
                    .roc {
                        padding-right: 1rem;
        
                    }
        
                    .ciz {
                        h4 {
                            padding-bottom: 0.4rem;
                        }
                    }
                }
            }
        .card {
            width: 350px;
            height: 320px;
            background-color: #fff;
            border-radius: 7px;
            flex-direction: column;
            justify-content: space-around;
            p {
               
               width: 240px;
               font-size: 22px;
               font-weight: 400px;
               padding: 0.3rem 0;
            }
            .call {
               .roc {
                padding-right: 1rem;

               }
               .ciz {
                h4 {
                    padding-bottom:0.4rem;
                }
               }
            }
        }
    }
}

#focus {
    .portion-10 {
        justify-content: center;
    }
    .portion-11 {
        margin-left: 6rem;
        margin-top: 2rem;
        display: flex;
        h2 {
            width: 500px;
            font-size:36px ;
            font-weight: 400;
        }
        p {
            margin-left: 19rem;
            border-bottom: 1px solid black;
            padding: 1.2rem 0;
        }
    }
}

#blog {
    .portion-12 {

        h5 {
            text-align: center;
            color: #777;
            font-weight: 400;
            font-size: 18px;
        }
        h2 {
            width: 800px;
             margin: 0 auto;
            font-size: 48px;
            font-weight: 400;
        }
    }
    .log {
        margin-top: 2rem;
        .categories {
            padding-top: 1rem;
            h4 {
                color: #0A2640;
            }
            p {
                margin-left: 0.5rem;
                color: #777;
            }
        }
        .p {
            width: 300px;
            font-size: 20px;
            padding: 1rem 0;
        }

    }
    .of {
        margin-top: 1.4rem;
        a {
            padding-left: 9px;
        }
    }
    .ohirgi {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
        margin-top: 5rem;
        button {
            border: 2px solid #0A2640;
            padding: 15px 40px;
            border-radius: 24px;
            background-color: #fff;
            color: #0A2640;
            a {
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}

